spring:
  application:
    name: edutrack
  cloud:
    discovery:
      enabled: true
    config:
      enabled: true
  config:
    import: optional:configserver:http://config-server:8888

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
