spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/rpjicond/config-repo.git
  zipkin:
    base-url: http://zipkin:9411
  sleuth:
    sampler:
      probability: 1.0

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    root: INFO
